.point-text {
    fill: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-size: 28px;
    white-space: pre;
}

.ic {
    background-color: grey;
    height: 100%;
}

.svg-container {
    width: 100vw;
    height: auto;
}

svg {
    position: absolute;
    z-index: 1;
}

.wrap {
    position: relative;
    width: 1920px;
    height: 1080px;
}

.svg {
    position: absolute;
    z-index: 1;
}

.svg:hover {

    z-index: 133;
}

.g {
    display: flex;
    justify-content: center;
    position: relative;
}

a:hover {
    position: absolute;
    z-index: 4343;
}


.region {
    position: absolute;
    fill: grey;
    transition: all 1s;

}

.pointer {
    position: absolute;
}



.hide {
    visibility: hidden;
    display: none;
}

.region:hover, .pointer:hover circle,
.region:hover + .pointer circle,
.region:has(+ .pointer:hover) path  {
    fill: green;
    transition: all 1s;
    stroke: white;
}




.point {
    position: absolute;
    cursor: pointer;
}

.country:hover {
    fill: aqua;
}

.container {
    position: relative;
}




.land {
    fill: #CCCCCC;
    fill-opacity: 1;
    stroke: white;
    stroke-opacity: 1;
    stroke-width: 0.5;
}



.icon {

    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    opacity: 0;

    &:hover {
        opacity: 1;
    }

}

.icon-container {
    position: relative;

    &:hover .popup {
        visibility: visible;
        width: 100px;
        height: 100px;
    }
}

.popup {

    transition: .5s all ease;
    visibility: hidden;
    position: absolute;
    background-color: aquamarine;
    left: 30px;

    & span {
        container-name: pop;
        font-size: 1em;
        text-wrap: wrap;
    }

    width: 0px;
    height: 0px;
}

@container pop (max-width: 50px) {
    .popup span {
        font-size: 2em;
    }
}

.pointer-line {
    transition: all 10s;
    fill: white;
    stroke: white;
    transform: scale(2);
}



line {
  transform: scaleY(1);
  transform-origin: top;
}

